<%- include("../header.html", { userName: userName }) %>

  <link rel="stylesheet" href="/css/index.css" type="text/css" />
    <script type="text/javascript" src="/js/index.js"></script>




  <div class='container'>
    <div class='row'>
        <div class='col-sm-12   py-5'>
          
      <ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">熱門貼文</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">今日推薦</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">台中市</a>
  </li>
    <li class="nav-item">
    <a class="nav-link disabled" href="#">苗栗縣</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">雲林縣</a>
  </li>
    <li class="nav-item">
    <a class="nav-link disabled" href="#">彰化縣</a>
  </li>
    <li class="nav-item">
    <a class="nav-link disabled" href="#">南投縣</a>
  </li>
</ul>
       

      </div>

      

            
  <div class='col-md-4 col-sm-12 d-flex  align-items-center  justify-content-center  py-5'>

   
     <div class="card card-style" >
            <a href='#'>
          <div class='post-style post-bg-1'>
            <span class='post-number'>＋</span>
          </div>
           </a>
  <div class="card-body">
    <div class='mb-4'>
          <h5 class="card-title ">國家歌劇院</h5>
    </div>
<div class=' mb-4'>
   <a href="#" class="classification p-2 border ">旅遊景點</a>
</div>
     <div>
     <p class="card-text">戶外劇場的綠地與屋頂空中花園則是民眾休憩的好去處，融入城市生活，成為都會藝術生活代言人的最佳場域。</p>
     </div>
     
             <div class="btn-container mt-4">
          <a class="btn standard-btn" href="#">Go somewhere</a>
        </div>

  </div>
</div>

       

      </div>
        <div class='col-md-4 col-sm-12 d-flex  align-items-center  justify-content-center  py-5'>

   
     <div class="card card-style" >
            <a href='#'>
          <div class='post-style post-bg-1'>
            <span class='post-number'>＋</span>
          </div>
           </a>
  <div class="card-body">
    <div class='mb-4'>
          <h5 class="card-title ">台中海天橋</h5>
    </div>
<div class=' mb-4'>
   <a href="#" class="classification p-2 border ">旅遊景點</a>
</div>
     <div>
     <p class="card-text">藍與白的優雅曲線，由白色衍架建造出山形曲線的自行車道，「海天一線，心手相連」，形成人本綠色交通系統，白天夜晚都美麗。</p>
     </div>
     
             <div class="btn-container mt-4">
          <a class="btn standard-btn" href="#">Go somewhere</a>
        </div>

  </div>
</div>

       

      </div>
        <div class='col-md-4 col-sm-12 d-flex  align-items-center  justify-content-center  py-5'>

   
     <div class="card card-style" >
            <a href='#'>
          <div class='post-style post-bg-1'>
            <span class='post-number'>＋</span>
          </div>
           </a>
  <div class="card-body">
    <div class='mb-4'>
          <h5 class="card-title ">國家歌劇院</h5>
    </div>
<div class=' mb-4'>
   <a href="#" class="classification p-2 border ">旅遊景點</a>
</div>
     <div>
     <p class="card-text">戶外劇場的綠地與屋頂空中花園則是民眾休憩的好去處，融入城市生活，成為都會藝術生活代言人的最佳場域。</p>
     </div>
     
             <div class="btn-container mt-4">
          <a class="btn standard-btn" href="#">Go somewhere</a>
        </div>

  </div>
</div>

       

      </div>
        <div class='col-md-4 col-sm-12 d-flex  align-items-center  justify-content-center  py-5'>

   
     <div class="card card-style" >
            <a href='#'>
          <div class='post-style post-bg-1'>
            <span class='post-number'>＋</span>
          </div>
           </a>
  <div class="card-body">
    <div class='mb-4'>
          <h5 class="card-title ">國家歌劇院</h5>
    </div>
<div class=' mb-4'>
   <a href="#" class="classification p-2 border ">旅遊景點</a>
</div>
     <div>
     <p class="card-text">戶外劇場的綠地與屋頂空中花園則是民眾休憩的好去處，融入城市生活，成為都會藝術生活代言人的最佳場域。</p>
     </div>
     
             <div class="btn-container mt-4">
          <a class="btn standard-btn" href="#">Go somewhere</a>
        </div>

  </div>
</div>

       

      </div>
     



    
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->


<%- include("../footer.html", {}) %>
