<%- include("../header.html", { userName: userName }) %>
  <link rel="stylesheet" href="/css/index.css" type="text/css" />
    <script type="text/javascript" src="/js/index.js"></script>



  
   <div class="container">
         <!--輪播-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="" alt="First slide">
          <div class="carousel-caption d-none d-md-block d-flex justify-content-center">
            <span class='span-font-style'>Where are you going today?
</span>
          </div>
        </div>
        <div class="carousel-item ">
          <img class="d-block w-100" src="" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
    <span class="sr-only">Previous</span>
  </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>

     </div>
  
  
  


  <div class='container'>
    <div class='row'>
      
            <div class='col-sm-12 my-5'>

    <div class='text-center'>
      <h2 class='line-text'>關於我</h2>
    <div class="line"></div> 
    </div>

      </div>

    <div class='col-sm-12  col-md-6 text-center d-flex flex-row align-items-center justify-content-center my-5' >
      <div class='about-us-title p-3'>
  <i class="far fa-smile-wink "></i>
  <h4 class='d-inline'>Hello!你好，今天想出去拍照走走嗎?</h4>
      </div>
    </div>
    
            <div class='col-sm-12  col-md-6 text-center d-flex flex-row align-items-center justify-content-center my-5' >
      <div >
 <i class="fas fa-check "></i>
  <h4 class='p-4'>想找拍照景點，卻總是找不到嗎?</h4>
  <span>在這裡，你可以使用<strong>搜尋功能</strong>或是<strong>地區分類</strong>找到你想要的拍照景點，也有幫你把拍照餐廳跟景點各別<strong></strong>分類方便查找，
  景點有最完整的資訊，也有豐富的照片，別忘了<strong>登入會員</strong>，把你最愛的景點加到<strong>我的收藏</strong>吧！
  </span>
      </div>
    </div>
    
                  
    
        <div class='col-sm-12 col-md-6 text-center d-flex flex-row align-items-center justify-content-center my-5' >
      <div>
<i class="fas fa-heart "></i>
  <h4 class='p-4'>分享你的照片你的景點給大家吧!</h4>
  <span>你有發現新的景點嗎?請透過<strong><a href='https://goo.gl/forms/g8tSBOT9kxDVV5o53' target='_blank'>意見回饋</a></strong>分享
  給我們。與我們分享照片每得到一個讚就可以得到10積分，當你超過300積分會升格為<strong>VIP</strong>，若有商家需要業配合作，我們會幫你做接洽唷！</span>
      </div>
    </div>
    
      <div class='col-sm-12  col-md-6 text-center d-flex flex-row align-items-center justify-content-center my-5' >

    </div>

    
              
        <div class='col-sm-12  col-md-6 text-center d-flex flex-row align-items-center justify-content-center my-5' >
      <div>
<i class="far fa-comments "></i>
  <h4 class='p-4'>看看別人怎麼說?也留下你的評論</h4>
  <span>去這個景點嗎?歡迎你不吝嗇的分享給大家<strong>你的經驗!</strong>如果喜歡的話也給景點一個<strong>讚</strong>吧!</span>
      </div>
    </div>

  <div class='col-sm-12  col-md-6 text-center d-flex flex-row align-items-center justify-content-center' >

    </div>
    
    
        <div class='col-sm-12 my-5'>
<hr/>

      </div>




    
  

      <div class='col-sm-12 my-5'>

    <div class='text-center'>
      <h2 class='line-text'>熱搜排行榜</h2>
    <div class="line"></div> 
    </div>

      </div>


      <div class='col-md-6 col-sm-12 d-flex  align-items-center  justify-content-center  py-5'>

        <a href='#'>
          <div class='raking-style raking-1'>
            <div class='beta-ribbon'>

            </div>
            <span class='raking-number'>1.</span>
            <div>

            </div>
          </div>

        </a>

      </div>

      <div class='col-md-6 col-sm-12 raking-text raking-text-1 d-flex flex-column  align-items-center  justify-content-center text-center'>

        <a href='#'>

          <div class='set-border-left px-4 '>
            <h3>海天橋</h3>
          </div>
          <div class='mt-4'>
            <span>
    <span class='d-inline raking-text-title'>台中海天橋</span>是一座僅供行人通過的藝術造景橋，與馬路人車分流，所以不會有汽機車通過的問題；可以專心取景拍照。海天橋的長度也不會特別長，很快就可以走過，因此建議停留時間為15分鐘，就可以拍照完畢，安排前往享用附近美食或下一個台中景點行程喔！
  </span>
          </div>

        </a>

      </div>

      <div class='col-md-6 col-sm-12 raking-text raking-text-2 d-flex flex-column  align-items-center  justify-content-center text-center py-5'>

        <a href='#'>

          <div class='set-border-left-2  '>
            <h3>麗寶Outlet Mall</h3>
          </div>
          <div class='mt-4'>
            <span>
    <span class='d-inline raking-text-title'>台中麗寶Outlet Mall</span>與以往型態有所不同，以快樂為出發點，超夯IG打卡景點，少女心爆發彩色建築！好玩好吃又好拍。
  </span>
          </div>

        </a>

      </div>

      <div class='col-md-6 col-sm-12 d-flex  align-items-center  justify-content-center py-5'>

        <a href='#'>
          <div class='raking-style raking-2'>
            <div class='beta-ribbon'>

            </div>
            <span class='raking-number'>2.</span>
            <div>

            </div>
          </div>

        </a>

      </div>

      <div class='col-md-6 col-sm-12 d-flex  align-items-center  justify-content-center  py-5'>

        <a href='#'>
          <div class='raking-style raking-3'>
            <div class='beta-ribbon'>

            </div>
            <span class='raking-number'>3.</span>
            <div>

            </div>
          </div>

        </a>

      </div>

      <div class='col-md-6 col-sm-12 raking-text raking-text-3 d-flex flex-column  align-items-center  justify-content-center text-center'>

        <a href='#'>

          <div class='set-border-left px-4 '>
            <h3>芳苑燈塔</h3>
          </div>
          <div class='mt-4'>
            <span>
    <span class='d-inline raking-text-title'>彰化芳苑燈塔</span>落在王功漁港旁是彰化縣王功區重要的地標之一。塔身為八角形黑白相間直條紋造型，從遠處看非常顯眼。

  </span>
          </div>

        </a>

      </div>

      <div class='col-md-6 col-sm-12 raking-text raking-text-4 d-flex flex-column  align-items-center  justify-content-center text-center py-5'>

        <a href='#'>

          <div class='set-border-left  '>
            <h3>九樹森林</h3>
          </div>
          <div class='mt-4'>
            <span>
    <span class='d-inline raking-text-title'>南投九樹森林</span>這裡除了有販售窯烤披薩的餐廳，還提供住宿。仙氣滿滿的玻璃屋，周邊自然生態也很豐富，情侶約會打卡或是跟姐妹郊遊旅行
  氣氛都很棒。
  </span>
          </div>

        </a>

      </div>

      <div class='col-md-6 col-sm-12 d-flex  align-items-center  justify-content-center py-5'>

        <a href='#'>
          <div class='raking-style raking-4'>
            <div class='beta-ribbon'>

            </div>
            <span class='raking-number'>4.</span>
            <div>

            </div>
          </div>

        </a>

      </div>

      <div class='col-sm-12 p-4 text-center'>
        <div class="btn-container">
          <a class="btn standard-btn" href="#">More</a>
        </div>
      </div>

      <div class='col-sm-12 my-5'>

    <div class='text-center'>
      <h2 class='line-text'>熱門貼文</h2>
    <div class="line"></div> 
    </div>

      </div>
      
      <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center mt-5">

 <a href='#'>
        <div class='post'>
         
              <img src='/img/popularImg/img_1.jpg' class='img-responsive'>    
              
          <div class='post-text d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-attractions'>勤美綠園道
              <span class='p-2'>Qinmei Green Park Road</span>
            </h2>

          </div>
        </div>
        </a>


        <div class='my-3'>
          <a href='#'><span>網美最愛的打卡景點，不定時更換展覽，假日周邊還有市集可以逛</span></a>
        </div>

      </div>
      <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center mt-5">
 <a href='#'>
        <div class='post'>
         
              <img src='/img/popularImg/img_2.jpg' class='img-responsive'>
                 
          <div class='post-text d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-attractions'>洲際棒球場
              <span class='p-2'>Intercontinental baseball field</span>
            </h2>
          </div>
        </div>
         </a>


        <div class='my-3'>
          <a href='#'>
              <span>無論來此看球賽、用餐，或是漫步其間休閒、 遊憩、運動，為民眾打造出一個在城市中具有律動與謐靜的特色空間。 <br/>
            </span>
            </a>
        </div>

      </div>
      <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center mt-5">

 <a href='#'>
        <div class='post'>
    
              <img src='/img/popularImg/img_3.jpg' class='img-responsive'>  
           
          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>嘎啦咖啡
              <span class='p-2'>Cala Coffee</span>
            </h2>
          </div>
        </div>
         </a>


        <div class='my-3'>
          <a href='#'><span>每逢假日必排隊，不用飛韓國，台中也有販賣機咖啡廳</span></a>
        </div>

      </div>
      <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center mt-5">
 <a href='#'>
        <div class='post'>
       
              <img src='/img/popularImg/img_4.jpg' class='img-responsive'>
                 
          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>小田生活mmm
              <span class='p-2'>Oda Life</span>
            </h2>
          </div>
        </div>
 </a>

        <div class='my-3'>
          <a href='#'>
              <span>藏匿於稻田中的咖啡廳，遠離都市的塵囂，來一場輕鬆的小生活
            </span>
            </a>
        </div>

      </div>

      <div class='col-sm-12 p-4 text-center'>
        <div class="btn-container">
          <a class="btn standard-btn" href="#">More</a>
        </div>
      </div>

           <div class='col-sm-12 my-5'>

    <div class='text-center'>
      <h2 class='line-text'>地區分類</h2>
    <div class="line"></div> 
    </div>
      </div>
      
      
      
      
      <div class='col-md-6 col-sm-12 d-flex flex-column align-items-center  mt-5'>
         <a href='#'>
        <div class='post'>
    
              <img src='/img/regional/img_1.jpg' class='img-responsive'>    
             

          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>Miaoli

            </h2>
          </div>
        </div>
         </a>
        <div class='my-3'>
          <a href='#'>
                <span>桐花、木雕、溫泉、水果、陶瓷及客家菜是苗栗觀光的六大特色，是每位旅客來苗栗旅遊的最佳選擇。</span>
       </a>
        </div>

        <div class='set-border-left px-4 '>

          <a href='#'><span>苗栗縣</span></a>
        </div>

      </div>
      <div class='col-md-6 col-sm-12 d-flex flex-column align-items-center  mt-5'>
         <a href='#'>
        <div class='post'>
   
              <img src='/img/regional/img_2.jpg' class='img-responsive'>    
            

          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>Taichung

            </h2>
          </div>

        </div>
         </a>
        <div class='my-3'>
          <a href='#'>
                 <span>充滿豐富的歷史、特色文化、熱鬧商圈，藝術環繞的綠城市。</span>
   </a>

        </div>

        <div class='set-border-left px-4'>

          <a href='#'>
                <span>臺中市</span>
                </a>

        </div>

      </div>
      <div class='col-md-6 col-sm-12 d-flex flex-column align-items-center  mt-5'>
         <a href='#'>
        <div class='post'>
     
              <img src='/img/regional/img_3.jpg' class='img-responsive'>    
          

          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>Changhua

            </h2>
          </div>
        </div>
         </a>
        <div class='my-3'>
          <a href='#'>
                <span>是花的故鄉，是美麗的山、海、平原景觀，是豐厚淳美的人文風光。</span>
       </a>
        </div>

        <div class='set-border-left px-4 '>

          <a href='#'><span>彰化縣</span></a>
        </div>

      </div>

      <div class='col-md-6 col-sm-12 d-flex flex-column align-items-center  mt-5'>
         <a href='#'>
        <div class='post'>
        
              <img src='/img/regional/img_4.jpg' class='img-responsive'>    
              

          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>Nantou

            </h2>
          </div>
        </div>
         </a>
        <div class='my-3'>
          <a href='#'>
                <span>境內山多平原少，四周盡是山巒疊翠，觀光資源相當豐富，可說隨處皆是風景。</span>
       </a>
        </div>

        <div class='set-border-left px-4 '>

          <a href='#'><span>南投縣</span></a>
        </div>

      </div>
      <div class='col-sm-12 p-4 text-center'>
        <div class="btn-container">
          <a class="btn standard-btn" href="#">More</a>
        </div>
      </div>



          <div class='col-sm-12 my-5'>

    <div class='text-center'>
      <h2 class='line-text'>分享我們</h2>
    <div class="line"></div> 
    </div>

      </div>
      <div class='col-sm-4'></div>
      <div class='col-sm-4  d-flex  align-items-center  justify-content-center icon-div' >
        <div>
          <a href='#'><img src='/img/icon/facebook.png'></a>
          <a href='#'><img src='/img/icon/google.png'></a>
          <a href='#'><img src='/img/icon/line.png'></a>
          <a href='#'><img src='/img/icon/twitter.png'></a>
          <a href='#'><img src='/img/icon/instagram.png'></a>
        </div>
      </div>
      <div class='col-sm-4'></div>


    </div>
    <!--end of row-->

  </div>
  <!--end of container-->


<%- include("../footer.html", {}) %>
