    <script type="text/javascript" src="/js/index.js"></script>
 <div class='container'>
    <div class='row'>
        

        
            <% for (var i in rows) { %>
  <div class='col-xl-4 col-md-6 col-sm-12  pb-5  div-hidden ' >


  
   <div class="card card-style" >

            <a href='#'>
          <div class='post-style' style='background-image: url(<%= JSON.stringify(rows[i].postImg) %>)'>
            <span class='post-number'>＋</span>
          </div>
           </a>
  <div class="card-body">
    <div class='mb-4'>
          <h5 class="card-title "><%= rows[i].postTitle %></h5>
    </div>
<div class=' mb-4'>
   <a href="#" class="classification p-2 border "><%= rows[i].postClassificationText %></a>
</div>
     <div>
     <p class="card-text"><%= rows[i].postText %></p>
     </div>
     
             <div class="btn-container mt-4">
          <a class="btn standard-btn" href="#">Go somewhere</a>
        </div>

  </div>
</div>

  

  
    


      </div>

<% } %>

</div>
</div>