<%- include("../header.html", { userName: userName }) %>
  <link rel="stylesheet" href="/css/sign.css" type="text/css" />


  
  <div class='container my-5'>
    <div class='row'>
      <div class='col-sm-12 text-center d-flex   flex-column align-items-center  justify-content-center text-center' >
        <div class='member-content-title p-3 rounded'>
          <i class="far fa-smile-wink "></i>
                  <h3 class=' d-inline'>Hello! Welcome to join us!</h3>
        </div>

        <div>
          <div>
                   <i class="fas fa-check py-4 px-4"></i><span>把你喜歡的景點收藏起來吧!</span>
          </div>
                    <div>
                   <i class="fas fa-check pb-4 px-4"></i><span>與我們分享照片每得到一個讚就可以得到10積分，當你超過300積分會升格為<strong>VIP</strong>，若有商家需要業配合作，我們會幫你做接洽唷！</span>
          </div>
          <div>
             <i class="fas fa-check py-4 px-4"></i><span>寫下你的旅遊日誌!記錄每個回憶</span>
          </div>
    
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row'>




      <div class='col-md-6 col-sm-12 d-flex flex-column align-items-center  justify-content-center text-center center-border'>



        <form class='my-5 '>
          <div class="form-group ">
                        <div class="form-group col-sm-12p ml-2 ">

        <h2 class='form-title '>會原登入</h2>
            </div>
            <div class="form-group col-sm-12 ">

              <input type="text" class="form-control input-style" id="" placeholder='Account number'>
            </div>
            <div class="form-group col-sm-12">

              <input type="password" class="form-control input-style" id="inputPassword4" placeholder="Password">
            </div>
          </div>
          <div class='pt-3 ml-3'>
            <button type="submit" class="btn btn-style py-2 px-3">Sign in</button>
          </div>


        </form>



      </div>
      
      
      <div class='col-md-6 col-sm-12 d-flex  align-items-center  justify-content-center text-center'>





        <form class='my-5 '>
          <div class="form-group ">
                        <div class="form-group col-sm-12">

             <h2 class='form-title'>加入會員</h2>
            </div>
            <div class="form-group col-sm-12">

              <input type="text" class="form-control input-style" placeholder='Your Name'>
            </div>

            <div class="form-group col-sm-12">

              <input type="email" class="form-control input-style" placeholder="Email">
            </div>

            <div class="form-group col-sm-12">

              <input type="text" class="form-control input-style" placeholder='Account number'>
            </div>
            <div class="form-group col-sm-12">

              <input type="password" class="form-control input-style" placeholder="Password">
            </div>
            <div class="form-group col-sm-12">

              <input type="password" class="form-control input-style" placeholder="Confirm password">
            </div>
          </div>
          <div class='pt-3 ml-3'>
            <button type="submit" class="btn btn-style py-2 px-3">Enter</button>
          </div>


        </form>







      </div>







    </div>
    <!--end of row-->
  </div>
  <!--end of container-->



<%- include("../footer.html", {}) %>