<%- include("../header.html", { userName: userName }) %>
    <script type="text/javascript" src="/js/taichung.js"></script>
    <link rel="stylesheet" href="/css/classification.css" type="text/css" />
        <link rel="stylesheet" href="/css/home.css" type="text/css" />

  
<div class='container'>
    <div class='row'>
       
              <div class='col-sm-12 mb-5 '>

        <div class='text-center'>
          <h2 class='line-text'>臺中市</h2>
          <div class="line"></div>
        </div>
      </div>
      
            <div class='col-sm-12 d-flex  align-items-center  justify-content-center  pb-5 border-bottom'>

        <select class="form-control form-control-lg" id="areasInputText">
  <option></option>
</select>
    </div>
    
<div  id='content' ></div>
   
</div> <!--end 0f row-->
</div> <!--end 0f container-->
 

<%- include("../footer.html", {}) %>