body {
font-size: 1.2em;
    color: #50514F;
    font-family: 'Noto Sans TC', sans-serif;
}



.navbar a {
    font-size: 1.2em;
}


.img-responsive {
    width: 100%;
    height: 100%;
}

a {
    outline: none;
    color: #50514F;
}

a:hover {
    text-decoration: none;
    color: #50514F;
}


/*導覽列*/

.search-style{
    width:200px!important;
}

/*自動彈出*/


.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}



.navbar-light .navbar-brand {
    color: #F25F5C;
}
.navbar-light .navbar-brand:hover{
     color: #F25F5C; 
}
.bg-light {
    background-color: #FFF!important;
}


/*分隔線*/

.line {
    height: 1px;
    background: #50514F;
}

.line-text {
    color:#247BA0;
    position: relative;
    top: 25px;
    background: #fff;
    display: inline-block;
    padding: 0 20px;
}




/*調整背景橫線的左右距離*/

.wrap div:before {
    left: 0;
}

.wrap div:after {
    right: 0;
}

/*submit按鈕*/

/*.btn-style{*/
/*    background-color: #FFF;*/
/*    border:1px solid black;*/

/*}*/

/*.btn-style:hover{*/
/*    background-color: #70C1B3;*/
/*     border:1px solid #70C1B3;*/
/*    color:#FFF;*/
/*}*/

/*搜尋按鈕*/

.form-control {
    font-size: 20px;
}


.btn-search-container {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}



.btn-search {
    color: #50514F;
    border: solid 1px #50514F;
    position: relative;
    z-index: 1;
    padding: 10px;
    cursor: pointer;
    background: transparent;
}

.btn-search:before {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    z-index: -1;
    content: "";
    background: #70C1B3;
}

.btn-search:hover {
    color: #FFF;
    border: solid 1px #70C1B3;
}

.btn-search:hover:before {
    width: 100%;
}



/*按鈕特效*/



.btn-container {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

*,
*:before,
*:after {
    padding: 0px;
    margin: 0px;
    transition: 0.3s;
}

.standard-btn {
    color: #50514F;
    border: solid 1px #50514F;
    font-size: 1rem;
    position: relative;
    z-index: 1;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.2rem;
    background: transparent;
}

.standard-btn:before {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    z-index: -1;
    content: "";
    background: #70C1B3;
}

.standard-btn:hover {
    color: #FFF;
    border: solid 1px #70C1B3;
}

.standard-btn:hover:before {
    width: 100%;
}

/*輸入框圓角*/
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;   
}
/*輸入框外藍線*/
.form-control:focus {
  border-color: black;
  box-shadow:none;
}

/*按鈕框外藍線*/

.btn:focus {
  outline: none;
    box-shadow: 1px 2px 2px 1px #6c757d;
}
/*底部*/
/*html, body {*/
     /*設定body高度為100% 拉到視窗可視的大小 */
/*    height: 84.8%;*/
/*}*/
/*.wrapper {*/
     /*設定高度最小為100%, 如果內容區塊很多, 可以長大 */
/*    min-height: 100%;*/
     /*位置設為relative, 作為footer區塊位置的參考 */
/*    position: relative;*/
/*}*/
/*.footer {*/
    
/*    box-sizing: border-box;*/
     /*設定footer絕對位置在底部 */
/*    position: absolute;*/
/*    bottom: 0;*/
     /*展開footer寬度 */
/*    width: 100%;*/
/*}*/


.footer-style {
    background-color: #F25F5C;
    color: #FFF;
    font-size: 20px;
    min-height:300px;
}

.footer{
    position: relative;
    top:41vh;
}