/*導覽列*/


.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}

.bg-light {
    background-color: #FFF!important;
}



/*卡片*/

.card-style{
 width:100%;  
 height:100%;
}
.classification{
      border-radius: 2rem!important;  
}
.card-title{
 color:#247BA0;   
}

/*排行榜*/

.post-text-title{
    font-size:28px;
}

.set-border-left {
    border-left: 5px solid #F25F5C
}

.set-border-left-2{
    border-left: 5px solid #FFE066
}



.post-style{
    height:300px;
    width:100%;

    background-size:100% 100%;
    background-position:center;
    transition:0.5s;
    overflow: hidden;
    
}

.post-style:hover{
     background-size:110% 110%;
     	position: relative;
}




.post-background-size{
     background-size:110% 110%;
}



.post-number{
font-weight:bold;
    	position: relative;
    top: -6px;
    font-size: 2.5rem;
    left: 305px;
    color:#FFF;
}
.post-number:hover{
     color:#F25F5C;
     
}



/*會員登入*/

.input-style{
    border:0px;
    border-bottom:1px solid black;
    border-radius: 0px;
    width:100%;

}

.form-group-style{
    width:280px;
        margin-right: auto;
    margin-left: auto;
}

.modal-title{
  color:#F25F5C;  
}

