

/*導覽*/

.add-shadow{
    box-shadow:2px 3px 8px 2px #a1a1a16e;
}

    .nav-link.active,
    .show>.nav-link {
      color: #FFF !important;
      background-color: #70C1B3 !important;
    }


/*燈箱*/

.lightbox{
  height:350px;
}


/*標題*/

.title-border {
    border-left: 5px solid #F25F5C
}

/*字元符號*/

.fas,.far{
    font-size: 30px;
}

.click-heart .fa-heart{
  color:red;
}

/*收藏按讚...按鈕*/

.btn-circle {
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  color:#FFF;
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-instagram{
       background-color: #854000;
    border-color: #854000;
}

.btn-instagram:hover{

-webkit-filter:brightness(0.9);
}


.introduction-btn{
  font-size:20px;
  
}

.introduction-btn-style{
      margin-top: 1.5rem;
          margin-bottom: 1.5rem;
}

@media screen and (max-width:767.98px) {
  .introduction-btn-style{
    margin-top: 0rem!important;
  }
 
}

/*圖片資訊*/




.introduction-img-1,.introduction-img-2,.introduction-img-3{
       margin-top: 3rem;
          margin-bottom: 3rem;
}


.introduction-img-4,.introduction-img-5,.introduction-img-6{
          margin-bottom: 3rem;
}


@media screen and (max-width:1199.98px){
  .introduction-img-3{
    margin-top: 0rem!important;
  }
}

@media screen and (max-width:1199.98px){
  .introduction-img-2{
    margin-top: 0rem!important;
  }
}


/*貼文特效*/

.post{
  position: relative;
    height: 350px;
    width: 350px;
  
}


.post img{
  display:block;
}
.post-img{

  position:absolute;
  bottom:0px;
  background-color:#ffffff5c;
  width: 350px;
  height:0px;
  transition:0.5s;
}
.post-img span{
    color:black;
  display:none;
  padding:15px;
  border-radius: .25rem;
  background-color:#ffffff2e;

}
.post-img-restaurant{border-left:5px solid #FFE066}

.post-img span{
    font-size:20px;
}

.post-img span{
    
}
.post:hover .post-img{
    height:80px;
  
}
.post:hover .post-img span{
    display:block;
}
