.form-control{
    width:500px;
}
.btn-style{
    background-color: #FFF;
    border:1px solid black;

}

.btn-style:hover{
    background-color: #70C1B3;
     border:1px solid #70C1B3;
    color:#FFF;
}