/*輸入框*/

.input-style{
    border-radius:0px;
    outline:none;
    border:none;
    border-bottom:1px solid black; 
}





/*input*/

.form-group input{
    width:300px;
}

.form-group{
        width:300px;
}

.form-title{
    color: #247BA0;

}

.fas,.far{
 font-size:30px;   
}




.member-content-title{
        background-color:#FFE066;
    width:420px;
}

.center-border{
    border-right:1px solid #dee2e6;
}

@media screen and (max-width:768px){
    .center-border{
    border-right:0px solid #dee2e6;
     border-bottom:1px solid #dee2e6;
}
}