<script type="text/javascript" >
$(document).ready(function(){


    $('.div-hidden').slice(0,1).show();
  $('.div-hidden').slice(1,2).css('display','flex');
      $('.div-hidden').slice(2,6).show();
  
  
  $(window).scroll(function(){
   if($(window).scrollTop() === $(document).height() - $(window).height()){
     $('.div-hidden:hidden').slice(0,2).slideDown();
   }
  })
  
  
  
  
});

</script>

 
      
<div class='container div-hidden'>
    <div class='row div-hidden'>

      <div class="col-md-6 col-sm-12  mt-5 div-hidden">
        
       
           <a href='#'>
        <div class='post mx-auto'>
    
              <img src='/img/popularImg/img_3.jpg' class='img-responsive'>  
           
          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>嘎啦咖啡
              <span class='p-2'>Cala Coffee</span>
            </h2>
          </div>
        </div>
         </a>


        <div class='my-3'>
          <a href='#'><span>每逢假日必排隊，不用飛韓國，台中也有販賣機咖啡廳</span></a>
        </div>
          
        



      </div>
            <div class="col-md-6 col-sm-12  mt-5 div-hidden">

 <a href='#'>
        <div class='post mx-auto'>
    
              <img src='/img/popularImg/img_3.jpg' class='img-responsive'>  
           
          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>嘎啦咖啡
              <span class='p-2'>Cala Coffee</span>
            </h2>
          </div>
        </div>
         </a>


        <div class='my-3'>
          <a href='#'><span>每逢假日必排隊，不用飛韓國，台中也有販賣機咖啡廳</span></a>
        </div>

      </div>
            <div class="col-md-6 col-sm-12  mt-5 div-hidden">

 <a href='#'>
        <div class='post mx-auto'>
    
              <img src='/img/popularImg/img_3.jpg' class='img-responsive'>  
           
          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>嘎啦咖啡
              <span class='p-2'>Cala Coffee</span>
            </h2>
          </div>
        </div>
         </a>


        <div class='my-3'>
          <a href='#'><span>每逢假日必排隊，不用飛韓國，台中也有販賣機咖啡廳</span></a>
        </div>

      </div>
            <div class="col-md-6 col-sm-12  mt-5 div-hidden">

 <a href='#'>
        <div class='post mx-auto'>
    
              <img src='/img/popularImg/img_3.jpg' class='img-responsive'>  
           
          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>嘎啦咖啡
              <span class='p-2'>Cala Coffee</span>
            </h2>
          </div>
        </div>
         </a>


        <div class='my-3'>
          <a href='#'><span>每逢假日必排隊，不用飛韓國，台中也有販賣機咖啡廳</span></a>
        </div>

      </div>
      
            <div class="col-md-6 col-sm-12  mt-5 div-hidden">

 <a href='#'>
        <div class='post mx-auto'>
    
              <img src='/img/popularImg/img_3.jpg' class='img-responsive'>  
           
          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>嘎啦咖啡
              <span class='p-2'>Cala Coffee</span>
            </h2>
          </div>
        </div>
         </a>


        <div class='my-3'>
          <a href='#'><span>每逢假日必排隊，不用飛韓國，台中也有販賣機咖啡廳</span></a>
        </div>

      </div>
            <div class="col-md-6 col-sm-12  mt-5 div-hidden">

 <a href='#'>
        <div class='post mx-auto'>
    
              <img src='/img/popularImg/img_3.jpg' class='img-responsive'>  
           
          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>嘎啦咖啡
              <span class='p-2'>Cala Coffee</span>
            </h2>
          </div>
        </div>
         </a>


        <div class='my-3'>
          <a href='#'><span>每逢假日必排隊，不用飛韓國，台中也有販賣機咖啡廳</span></a>
        </div>

      </div>
            <div class="col-md-6 col-sm-12  mt-5 div-hidden">

 <a href='#'>
        <div class='post mx-auto'>
    
              <img src='/img/popularImg/img_3.jpg' class='img-responsive'>  
           
          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>嘎啦咖啡
              <span class='p-2'>Cala Coffee</span>
            </h2>
          </div>
        </div>
         </a>


        <div class='my-3'>
          <a href='#'><span>每逢假日必排隊，不用飛韓國，台中也有販賣機咖啡廳</span></a>
        </div>

      </div>
            <div class="col-md-6 col-sm-12  mt-5 div-hidden">

 <a href='#'>
        <div class='post mx-auto'>
    
              <img src='/img/popularImg/img_3.jpg' class='img-responsive'>  
           
          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>嘎啦咖啡
              <span class='p-2'>Cala Coffee</span>
            </h2>
          </div>
        </div>
         </a>


        <div class='my-3'>
          <a href='#'><span>每逢假日必排隊，不用飛韓國，台中也有販賣機咖啡廳</span></a>
        </div>

      </div>
            <div class="col-md-6 col-sm-12  mt-5 div-hidden">

 <a href='#'>
        <div class='post mx-auto'>
    
              <img src='/img/popularImg/img_3.jpg' class='img-responsive'>  
           
          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>嘎啦咖啡
              <span class='p-2'>Cala Coffee</span>
            </h2>
          </div>
        </div>
         </a>


        <div class='my-3'>
          <a href='#'><span>每逢假日必排隊，不用飛韓國，台中也有販賣機咖啡廳</span></a>
        </div>

      </div>
            <div class="col-md-6 col-sm-12  mt-5 div-hidden">

 <a href='#'>
        <div class='post mx-auto'>
    
              <img src='/img/popularImg/img_3.jpg' class='img-responsive'>  
           
          <div class='post-text  d-flex  align-items-center  justify-content-center'>
            <h2 class='post-text-restaurant'>嘎啦咖啡
              <span class='p-2'>Cala Coffee</span>
            </h2>
          </div>
        </div>
         </a>


        <div class='my-3'>
          <a href='#'><span>每逢假日必排隊，不用飛韓國，台中也有販賣機咖啡廳</span></a>
        </div>

      </div>
                  <div class='col-sm-12 p-4 text-center div-hidden'>
  <span>No more information</span>
      </div>
      
      
      
       </div>
        </div>